<?xml version="1.0"?>
<robot>
  <gazebo>
    <plugin filename="gz_ros2_control-system" name="gz_ros2_control::GazeboSimROS2ControlPlugin">
      <parameters>$(find wheeled_biped_control)/config/controllers.yaml</parameters>
    </plugin>
  </gazebo>

  <gazebo reference="imu_link">
    <sensor name='imu_head' type='imu'>
      <topic>/imu/head</topic>
      <update_rate>400</update_rate>
      <always_on>true</always_on>
      <visualize>true</visualize>
    </sensor>
  </gazebo>

</robot>
